/* --- ANIMATION CSS --- */
#smooth-scroll{
    will-change: transform;
}
.anim-scroll-trigger,
.anim-instant{
    opacity: 0;
    will-change: transform, opacity;
}

.anim-scroll{
    will-change: opacity;
}

.anim-scroll-trigger[data-anim="text-reveal-up"],
.anim-scroll-trigger[data-anim="overlay-reveal-right"]{
    overflow: hidden;
}
.anim-text-reveal{
    display: block;
}

.anim-scroll-trigger[data-anim="overlay-reveal-right"]{
    position: relative;
}
.anim-overlay-reveal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 5;
}